<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ol>
            <li><a href="http://localhost:8081/4-PHP-Persistence/1-fichier.php">fichier</a></li>
            <li><a
                    href="http://localhost:8081/4-PHP-Persistence\2-fichier-json.php">fichier-json</a>
            </li>
            <li><a href="http://localhost:8081/4-PHP-Persistence/3-compte_persistant.php">compte_persistant</a></li>
            <li><a href="http://localhost:8081/4-PHP-Persistence/3.2-compte_persistantV2_factorised.php">compte_persistantV2_factorised</a></li>
            <li><a href="http://localhost:8081/4-PHP-Persistence/session/index.php">Session index</a>
            </li>
            <li><a href="http://localhost:8081/4-PHP-Persistence/security/inscription.php">Security inscription</a></li>
            <li><a href="http://localhost:8081/4-PHP-Persistence/7-TP_Echiquier.php">*</a></li>
            <li><a href="http://localhost:8081/4-PHP-Persistence/7.2-TP_EchiquierResponsive.php">*</a>
            </li>
            <li><a href="http://localhost:8081/4-PHP-Persistence/8-TP_DépensesV1.php">*</a></li>
            <li><a href="http://localhost:8081/4-PHP-Persistence/8.2-TP_DépensesV1Bootstrap.php">*</a>
            </li>
            <li><a href="http://localhost:8081/4-PHP-Persistence/9-TP_DépensesV2.php">*</a></li>
        </ol>
    </nav>

</body>

</html>