<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ol>
            <li><a href="http://localhost:8081/PHP-Tables/1-fruits.php">intro</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/2-tableauAssossiatifLangages.php">tableauAssossiatifLangages</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/3-multiTableauxLangages.php">multiTableauxLangages</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/4-explodeStringIntoArray.php">explodeStringIntoArray</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/5-listeDeroulanteProfession.php">listeDeroulanteProfession</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/6-listeNavigation.php">listeNavigation</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/7-TP_Echiquier.php">TP_Echiquier</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/8-TP_DépensesV1.php">TP_DépensesV1</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/9-TP_DépensesV2.php">TP_DépensesV2</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/10-appelFunction_Tables_6-9.php">*</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/11-appelFunction_boucleForList.php">*</a></li>
            <li><a href="http://localhost:8081/PHP-Tables/12-appelFunction_validateAge.php?age=10">*</a></li>
        </ol>
    </nav>

</body>

</html>