<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ol>
            <li><a href="http://localhost:8081/3-PHP-Form/1-formulaire.php">formulaire</a></li>
            <li><a
                    href="http://localhost:8081/3-PHP-Form/2-formulaireAutoPoste.php">formulaireAutoPoste</a>
            </li>
            <li><a href="http://localhost:8081/3-PHP-Form/3-TransactionComptable.php">TransactionComptable</a></li>
            <li><a href="http://localhost:8081/3-PHP-Form/4-explodeStringIntoArray.php">*</a></li>
            <li><a href="http://localhost:8081/3-PHP-Form/5-listeDeroulanteProfession.php">*</a>
            </li>
            <li><a href="http://localhost:8081/3-PHP-Form/6-listeNavigation.php">*</a></li>
            <li><a href="http://localhost:8081/3-PHP-Form/7-TP_Echiquier.php">*</a></li>
            <li><a href="http://localhost:8081/3-PHP-Form/7.2-TP_EchiquierResponsive.php">*</a>
            </li>
            <li><a href="http://localhost:8081/3-PHP-Form/8-TP_DépensesV1.php">*</a></li>
            <li><a href="http://localhost:8081/3-PHP-Form/8.2-TP_DépensesV1Bootstrap.php">*</a>
            </li>
            <li><a href="http://localhost:8081/3-PHP-Form/9-TP_DépensesV2.php">*</a></li>
        </ol>
    </nav>

</body>

</html>